* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent; /* устранения синего фона при нажатии на кнопку на мобильных устройствах  */
  -webkit-user-select: none; /* защита от выделения */
  user-select: none;
  --index: calc(1vw + 1vh);
}

button,
#count,
.key {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  height: 100%;
  background: url('./img/bg-sea-hang.webp');
  background-size: cover; /* Масштабирует изображение, чтобы оно покрывало весь экран */
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat; /* Избегает повторения изображения */
  background-attachment: fixed; /* Фиксирует фон при прокрутке */
}

/* дождь */
#rainCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Чтобы не мешать взаимодействию с остальными элементами */
  z-index: 1;
}

.container {
  display: grid;
  min-height: 100vh;
  min-width: 100vw;
  /* width: 100vw; Охватывает всю ширину экрана */
  /* height: 100vh; Охватывает всю высоту экрана */
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(11, 1fr) 80px; /* 11 строк с одинаковыми размерами, последняя строка высотой 60px */
  gap: 5px;
  overflow: hidden; /* предотвратит появление прокрутки при анимации расширения кнопок */
  grid-template-areas:
    '  .      .      .      .      .      .      .      .      .      .      .      .'
    '  .  MusicIcon  .     KeyQ   KeyQ   KeyW   KeyW   KeyE   KeyE    .    count    .'
    '  .  MusicIcon  .     KeyQ   KeyQ   KeyW   KeyW   KeyE   KeyE    .      .      .'
    '  .      .      .     KeyA   KeyA   KeyS   KeyS   KeyD   KeyD    .      .      .'
    '  .      .      .     KeyA   KeyA   KeyS   KeyS   KeyD   KeyD    .      .      .'
    '  .      .      .     KeyZ   KeyZ   KeyX   KeyX   KeyC   KeyC    .      .      .'
    '  .      .      .     KeyZ   KeyZ   KeyX   KeyX   KeyC   KeyC    .      .      .'
    '  .      .      .      .      .      .      .      .      .      .      .      .'
    '  .      .      .      .      . Instruments Instruments . .      .      .      .'
    '  .      .      .      .      .      .      .      .      .      .      .      .'
    '  .      .   Digit1 Digit2 Digit3 Digit4 Digit5 Digit6 Digit7 Digit8    .      .'
    '  .      .   Digit1 Digit2 Digit3 Digit4 Digit5 Digit6 Digit7 Digit8    .      .';
}

.digits,
.letters {
  display: contents; /* Это позволяет каждому элементу внутри использовать grid-area */
}

/* кнопки */
.key {
  background: url('./img/drums/hang-drum.png') center/cover no-repeat;
  background-size: contain; /* Сохраняет пропорции изображения и отображает его целиком */
  cursor: pointer;
  position: relative;
  top: -10px;
}

/* символ кнопки */
.letters kbd {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 900;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  color: rgb(var(--random-color-r), var(--random-color-g), var(--random-color-b));
  text-shadow: 5px 5px 5px #000000;
  transition: all 0.4s ease-in-out;
}

.digits kbd {
  color: #000000;
  font-weight: bold;
  font-size: 0.8rem;
  text-shadow: 2 2 10px #ffffff;
  left: 50%;
  bottom: -8px;
  position: absolute;
}

/* увеличение кнопок при нажатии */
.playing.key {
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 50px rgb(var(--random-color-r), var(--random-color-g), var(--random-color-b)));
}

/* инверсия картинки при нажатии */
.invertColorPicture {
  filter: invert(1);
}

/* кнопка на главную */
.button-back {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  margin: calc(var(--index) * 0.2);
  padding: calc(var(--index) * 0.5);
  border-radius: 20%;
  outline: none;
  cursor: pointer;
  text-shadow: 0 0 10px #f8c454;
  background-color: #0000008b;
  border: 1px solid #ffffff;
  color: #fff;
  transition: all 1s ease;
}

.button-back:hover {
  color: #000000;
  background-color: #f8c454;
  border: 1px solid #000000;
  transform: scale(1.1);
}

/* квадрат нот QWEASDZXC */
.KeyQ {
  grid-area: KeyQ;
  background: url('./img/drums/drum-1.png') no-repeat center;
  background-size: contain;
}
.KeyW {
  grid-area: KeyW;
  background: url('./img/drums/drum-2.png') no-repeat center;
  background-size: contain;
}
.KeyE {
  grid-area: KeyE;
  background: url('./img/drums/drum-3.png') no-repeat center;
  background-size: contain;
}
.KeyA {
  grid-area: KeyA;
  background: url('./img/drums/drum-4.png') no-repeat center;
  background-size: contain;
}
.KeyS {
  grid-area: KeyS;
  background: url('./img/drums/hang-drum.png') no-repeat center;
  background-size: contain;
}
.KeyD {
  grid-area: KeyD;
  background: url('./img/drums/drum-5.png') no-repeat center;
  background-size: contain;
}
.KeyZ {
  grid-area: KeyZ;
  background: url('./img/drums/drum-6.png') no-repeat center;
  background-size: contain;
}
.KeyX {
  grid-area: KeyX;
  background: url('./img/drums/drum-7.png') no-repeat center;
  background-size: contain;
}
.KeyC {
  grid-area: KeyC;
  background: url('./img/drums/drum-8.png') no-repeat center;
  background-size: contain;
}

/* цифры */
.Digit1 {
  grid-area: Digit1;
}
.Digit2 {
  grid-area: Digit2;
}
.Digit3 {
  grid-area: Digit3;
}
.Digit4 {
  grid-area: Digit4;
}
.Digit5 {
  grid-area: Digit5;
}
.Digit6 {
  grid-area: Digit6;
}
.Digit7 {
  grid-area: Digit7;
}
.Digit8 {
  grid-area: Digit8;
}

.Instruments {
  grid-area: Instruments;
  background: url('./img/drums/xylophone.png') no-repeat center;
  background-size: contain;
}

/* меняет картинку металофона на пианино */
.changePianino {
  background: url('./img/drums/keyboard.png') no-repeat center;
  background-size: contain;
}

/* счетчик нажатий */
#count {
  grid-area: count;
  font-size: 50px;
  text-shadow: 0 0 10px #000000;
  color: rgb(var(--random-color-r), var(--random-color-g), var(--random-color-b));
  cursor: none;
  transition: all 0.4s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

/* убираем цифры и буквы для телефонов */
@media (max-width: 768px) {
  kbd {
    display: none;
  }
}

/* _/_/_/_/_/_/ Модальное окно _/_/_/_/_/_/ */

/* Фон модального окна */
#modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

/* Содержимое модального окна */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 450px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* Кнопка закрытия */
.close-btn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  color: #000;
}
