* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
:root {
  --index: calc(1vw + 1vh);
}

html {
  background: url('../img/layer-1.jpg') no-repeat;
}

.rain {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  inset: -5vw;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  padding: 40px 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  color: #fff;
  text-shadow: 0 0 10px #8da657;
  outline: none;
  transition: all 1s ease;
}

.card1,
.card2,
.card3 {
  display: flex;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  padding: 20px;
  gap: 30px;
  margin-bottom: 20px;
}

.card1 {
  flex-wrap: wrap;
  /* margin-top: 50px; */
}

.card2,
.card3 {
  flex-wrap: wrap;
  background-color: #00000070;
  box-shadow: 1px 1px 5px #ffffff61;
  transition: all 0.5s ease;
}

.card3 {
  font-size: 1.25rem;
}

.avatar {
  min-width: 100px;
  max-width: 200px;
  border-radius: 28px;
  box-shadow: 1px 1px 50px #ffffff61;
  margin: 0 auto;
  transition: all 0.5s ease;
}

.info-text {
  background-color: #0000005e;
  box-shadow: 1px 1px 50px #080000;
  border-radius: 28px;
  flex-grow: 3;
  text-align: center;
  transition: all 0.5s ease;
}

.main-button {
  position: fixed;
  font-size: 1.5rem;
  margin: 2px;
  font-weight: bold;
  padding: calc(var(--index) * 0.8);
  color: #fff;
  text-shadow: 0 0 10px #8da657;
  background-color: #0000008b;
  border: 1px solid #ffffff;
  border-radius: 8%;
  outline: none;
  cursor: pointer;
}

.main-button:hover {
  border-color: #8da657;
  border: 1px solid #ffffff;
  background-color: #8da657aa;
}

.list {
  padding: 0 20px;
}

.list li {
  color: #0055ff;
  margin-bottom: 10px;
}

.link-list {
  list-style: none;
  padding: 0;
}

.link-list li {
  margin-bottom: 10px;
  border-bottom: 1px dashed #48ff004e;
  padding-bottom: 5px;
  font-size: 18px;
}

.table {
  width: 100%;
  font-size: 16px;
}

.table td {
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: left;
  border-bottom: 1px solid #0696179a;
}

.table-title {
  text-align: left;
  padding-right: 10px;
  font-size: 18px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  color: #fcfcfc;
}

a:any-link {
  color: rgb(254, 152, 0);
}
a:hover {
  text-decoration: underline;
}
